@charset "UTF-8";



body {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  color: #2d2d2d;
  letter-spacing: 0.12em;
  line-height: 1em;

  .container {
    width: auto;
    margin: 0 60px;
  }

  a{
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
  }
}

/*================================================================
header
================================================================*/ 
header {
  height: 95px;

  .header_nav {
    display: flex;
    justify-content: space-between;
  }

  .header_left {
    padding-top: 15px;
  }

    p:hover {
      opacity: 0.7;
    }

    img {
      width: 50px;
      height: 50px;
      padding-left: 1px;
    }

    p {
      font-size: 20px;
      color: #7C8893;
    }
    .header_right{
      display: inline-block;
      line-height: 95px;

      a {
        padding-right: 10px;
      }

      a:last-child {
        padding-left: 20px;
      }
    }

    .search {
      color: #7C8893;
    }

    .cart {
      color: #7C8893;
    }

    .bars {
      color: #7C8893;
    }
  
}


/*================================================================
top
================================================================*/ 
.top {
  display: flex;
  height: 850px;
  position: relative;
}
  .top_left {
    width: 19%;
  }

  .phrase {
    position : absolute;
    margin: 100px;
    margin-top: 25%;
    margin-left: 150px;

    h1 {
      font-size: 32px;
      margin-bottom: 25px;
      font-weight: 100;
    }

    p {
      font-size: 12px;
      
    }
  }

  .top_right {
    background-image: url(../images/top.jpg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    width: 81%;
  }


/*================================================================
about
================================================================*/ 

.about {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  .about_left {
    width: 45%;

    h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 40px;
  }

  p {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .btn {
    width: 50%;
    display: block;
    background-color: #fff;
    letter-spacing: 0.1em;
    border: 1px solid black;


    a {
      display: block;
      padding: 15px 0;
      font-family: 'Crimson Text',"Yu Mincho Medium", "游明朝体", ;
      text-decoration: none;
    }

   
  }

  .btn:hover {
    cursor: pointer;
      color :#ffffff;
      background: black;
      transition: all 0.5s;
  }


  }

  

  .about_right {
    height: 600px;
    width: 45%;
    background-image: url(../images/second.jpg);
        background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*================================================================
products
================================================================*/ 

.product {
  margin: 60px ;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 40px;
  }
}

.product_cards {
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  
}

.product_card {
  width: calc(33.333333% - 50px);
  margin: 0 75px 60px 0;
}

.product_card:nth-child(3n){
  margin-right: 0;
}

.product_card img {
  width: 100%;
}


  .product_card h2{
     margin-top: 15px;
     margin-bottom: 10px;
     font-size: 14px;
     color: #2d2d2d;
   }
 
   .product_card p {
     font-size: 11px;
     color: #2d2d2d;
   }
 
   .sold_out{
     color: red;
     font-size: 11px;
     display: block;
     margin-top: 15px;
   }

   .btn_view {
    width: 32%;
    display: block;
    background-color: #fff;
    letter-spacing: 0.1em;
    border: 1px solid black;
    margin: 0 auto;


    a {
      display: block;
      padding: 15px 0;
      font-family: 'Crimson Text',"Yu Mincho Medium", "游明朝体", ;
      text-decoration: none;
    }
  }

  .btn_view:hover {
    cursor: pointer;
      color :#ffffff;
      background: black;
      transition: all 0.5s;
  }

  .news {
    margin-top: 60px;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 12px;
    }

    a {
      color:#2d2d2d;
    }

    .articles:hover {
      opacity: 0.7;
      transition: all 0.3s;
  }

    .articles {
      display: flex;
      margin-top: 30px;
    }

    .date {
      font-size: 14px;
      text-align: center;
      padding-right: 20px;
      border-right: 1px solid #DDDDDD;
      line-height: 20px;
    }

    .article {
      font-size: 12px;
      margin-left: 20px;
      line-height: 40px;
    }
  }

  .button {
    margin-top: 100px;
    width: 100%;
  }